* {
    margin: 0;
    padding: 0;
}

body {
    --gfont1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --gcolor0: rgb(0, 0, 0);
    --gcolor11: rgb(252, 250, 247);
    --gcolor12: rgb(245, 239, 226);
    --gcolor13: rgb(188, 200, 212);
    --gcolor21: rgb(210, 74, 115);
    --gcolor22: rgb(134, 52, 70);
    --gcolor31: rgb(119, 98, 216);
    --gcolor32: rgb(70, 47, 122);
    --gcolor41: rgb(115, 207, 141);
    --gcolor42: rgb(68, 165, 112);
    --len1: 2rem;
    --len2: calc(var(--len1) * 5);
    --b: 3px;
    --scroll-w: 12px;

    font-family: var(--gfont1);
    background-color: var(--gcolor11);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: var(--scroll-w);
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    height: calc(var(--len1) * 3/2);
    padding: calc(var(--len1)/2);
    font-size: calc(var(--len1)/2);
    color: var(--gcolor11);
    background-color: var(--gcolor32);
    text-align: center;
    border: none;
    border-radius: var(--b);
    font-weight: 600;
    font-style: normal;
    font-family: var(--gfont1);
    box-shadow: rgba(27, 27, 27, 0.2) 0px 2px 8px 0px;
    transition: color ease 0.2s;
}

.button:hover {
    color: var(--gcolor12);
    cursor: pointer;
}

header {
    width: 100%;
    height: calc(var(--len1) * 4);
}

nav {
    display: flex;
    height: 100%;
    background-color: var(--gcolor31);
    flex-wrap: wrap;
    column-gap: var(--len1);
    row-gap: var(--len1);
    justify-content: center;
    align-items: center;
    padding: var(--len1);
    box-sizing: border-box;
}

footer {
    height: var(--len1);
}

section#yours, section#all {
    padding-top: var(--len1);
    display: flex;
    justify-content: center;
    position: relative;
}

p.user_id {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--gcolor31);
}

section > .container  {
    width: calc(var(--len2) * 5);
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--len1)/2);
}

ul.quiz_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--len1)/2);
}

ul.quiz_list li {
    width: 100%;
    height: max-content;
    background-color: var(--gcolor31);
    padding: var(--len1);
    box-sizing: border-box;
    border-radius: var(--b);
}
ul.quiz_list li .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.quiz_list li .top .left {
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: var(--len1);
}
ul.quiz_list li .desc_container {
    display: flex;
    align-items: center;
    height: 0;
    color: var(--gcolor11);
    font-weight: 600;
    font-style: normal;
    font-family: var(--gfont1);
    border-top: 0;
    margin-top: 0;
    filter: opacity(0);
    transition: height ease 0.2s, margin ease 0.2s, border ease 0.2s, filter ease 0.2s;
}
ul.quiz_list li .desc_container.open {
    display: flex;
    height: var(--len1);
    border-top: var(--b) solid var(--gcolor11);
    margin-top: var(--len1);
    filter: opacity(1);
}

a.play {
    display: flex;
    height: calc(var(--len1) * 2);
    width: calc(var(--len1) * 2);
    border-radius: var(--len1);
    background-color: var(--gcolor21);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--b) solid var(--gcolor11);
    box-sizing: border-box;
    box-shadow: rgba(27, 27, 27, 0.2) 0px 2px 8px 0px;
    font-weight: 600;
}

h2.yours, h2.all, h2.active_quiz {
    color: var(--gcolor31);
}

h2.quiz_name, section#quiz .answer_container h2 {
    color: var(--gcolor11);
}

section#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.denied_container {
    height: max-content;
    width: calc(var(--len2) * 2);
    background-color: var(--gcolor21);
    padding: var(--len1);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: calc(var(--len1) / 2);
    margin-top: var(--len1);
    border-radius: var(--b);
}

div.denied_container h2.denied {
    color: var(--gcolor11)
}

div.denied_container .button {
    background-color: var(--gcolor22)
}

div.ready_container {
    width: calc(var(--len2) * 5);
    height: calc(var(--len1) * 4);
    background-color: var(--gcolor31);
    padding: var(--len1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(var(--len1) / 2);
    border-radius: var(--b);
}

div.ready_container h2.ready {
    color: var(--gcolor11)
}

section#forms {
    /* height: 100vh; */
    overflow: hidden;
}

.form_container {
    margin-top: calc(var(--len1) * 3);
    width: calc(200vw - var(--scroll-w)*2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    transition: left ease 0.3s;
}

.form_container.login {
    left: 0vw;
}
.form_container.signup {
    left: calc(-100vw + var(--scroll-w));
}

.button_container {
    margin-top: var(--len1);
    width: calc(100vw - var(--scroll-w));
    display: flex;
    justify-content: center;
    align-items: center;
}

section#forms form {
    background-color: var(--gcolor31);
    
    display: flex;
    flex-direction: column;
    row-gap: var(--len1);

    padding: var(--len1);
    border-radius: var(--b);
}

/* section#forms form[action="login"].off { left: -200px;; }
section#forms form[action="signup"].off { left: 2000px; } */

input[type="text"], input[type="password"] {
    width: calc(var(--len1) * 6);
    height: var(--len1);
    border: var(--b) solid var(--gcolor32);
    transition: border ease 0.4s;
    padding: 0 calc(var(--b) * 2) 0 calc(var(--b) * 2);
    box-sizing: border-box;
    border-radius: var(--b);
    font-weight: 600;
    font-style: normal;
    font-family: var(--gfont1);
    background-color: var(--gcolor11);
    box-shadow: rgba(27, 27, 27, 0.2) 0px 2px 8px 0px;
}

input:focus {
    outline: none;
    border: var(--b) solid var(--gcolor42) !important;
}

select {
    height: var(--len1);
    border: var(--b) solid var(--gcolor32);
    transition: border ease 0.4s;
    padding: 0 calc(var(--b) * 2) 0 calc(var(--b) * 2);
    box-sizing: border-box;
    border-radius: var(--b);
    font-weight: 600;
    font-style: normal;
    font-family: var(--gfont1);
    background-color: var(--gcolor11);
    box-shadow: rgba(27, 27, 27, 0.2) 0px 2px 8px 0px;
}

select:focus {
    outline: none;
    border: var(--b) solid var(--gcolor42);
}

section#forms form button {
    width: calc(var(--len1) * 6);
}

form.create, form.edit {
    min-width: max-content;
    width: calc(var(--len1) * 8);
    background-color: var(--gcolor31);
    
    display: flex;
    flex-direction: column;
    row-gap: var(--len1);

    padding: var(--len1);
    border-radius: var(--b);
}

form.create input[type="text"], form.edit input[type="text"] {
    width: 100%;
}

section#create, section#edit {
    padding-top: var(--len1);
    display: flex;
    justify-content: center;
    position: relative;
    column-gap: var(--len1);
}

section#create .container, section#edit .container {
    width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--len1)/2);
}

h2.create, h2.edit {
    color: var(--gcolor31);
}

h2.content {
    color: var(--gcolor31);
}

.content_container {
    min-width: max-content;
    width: calc(var(--len1) * 8);
    background-color: var(--gcolor31);
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: var(--len1);

    padding: var(--len1);
    border-radius: var(--b);
}

section#create .buttons, section#edit .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question, .answer {
    background-color: var(--gcolor32);
    display: flex;
    align-items: center;
    column-gap: calc(var(--len1)/3);
    padding: calc(var(--len1) * 0.65);
    border: 0 solid var(--gcolor11);
    box-sizing: border-box;
    border: var(--b) solid var(--gcolor32);
    border-radius: var(--b);
    box-shadow: rgba(27, 27, 27, 0.2) 0px 2px 8px 0px;
    transition: border ease 0.4s;
}

.question {
    width: 100%;
}

.answer {
    width: 90%;
}

.question.focus, .answer.focus {
    border: var(--b) solid var(--gcolor11);
}

.question .button, .answer .button {
    background-color: var(--gcolor31);
    height: unset !important;
    padding: calc(var(--len1)/4);
    font-size: calc(var(--len1)/2.5);
}

.content_container input[type="text"] {
    min-width: calc(var(--len1)*2);
    width: 100%;
    height: var(--len1);
    border: var(--b) solid var(--gcolor31);
}

.content_container select {
    border-color: var(--gcolor31);
}

.content_container select:focus {
    border-color: var(--gcolor42);
}

p.num {
    color: var(--gcolor13);
}

section#edit form .button.delete {
    margin: 0 calc(var(--len1) / 2) 0 calc(var(--len1) / 2);
}

#bar_container {
    width: 100%;
    height: var(--len1);
    border: var(--b) solid var(--gcolor12);
    border-radius: calc(var(--b)*2);
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--gcolor12);
}

#progress_bar {
    width: 0;
    height: 100%;
    background-color: var(--gcolor21);
    border-radius: var(--b);
}

section#quiz {
    padding-top: var(--len1);
}

section#quiz .question_container {
    width: 100%;
    height: calc(var(--len1) * 4);
    background-color: var(--gcolor31);
    padding: var(--len1);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(var(--len1) / 2);
    box-sizing: border-box;
    border-radius: var(--b);
    color: var(--gcolor12);
}

section#quiz .question_container p {
    font-family:'Times New Roman', Times, serif
}

section#quiz .answer_container {
    height: 100%;
    width: 100%;
    background-color: var(--gcolor31);
    border-radius: var(--b);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#quiz .answers_container_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: calc(var(--len1) * 4);
    gap: var(--len1);
}

section#quiz .answers_container_outer {
    height: max-content;
    overflow: hidden;
}

section#quiz .answers_container_outer.closed {
    height: 0;
}